<nav id="navbar">
  <ul class="nav justify-content-start nav-tabs">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>

    {% if user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="{% url 'keyword-list' %}">My keywords</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Signup</a></li>
    {% endif %}

  </ul>
</nav>

